@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lexend:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('css/resenia.css');
@import url('css/galeria.css');
@import url('css/contacto.css');

/* Body */
body {
    font-family: 'lexend';
    background-color: #ffffff;
    margin: 1;
    padding: 1;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    background-color: #e1f7f5;
    padding: 1rem 2rem;
    color: #0288d1;
}

nav ul { 
    list-style: none; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    gap: 1rem; 
}

/* Footer */
footer {
    background-color: #b7f4f0;
    color: #0288d1;
    text-align: center;
    padding: 1rem;
}

/*Estilos de texto*/
h1 {
    color: #01579b; 
    transition: color 0.3s ease;
}

h2 {
    color: #01579b; 
    transition: color 0.3s ease;
}

h3 {
    color: #01579b; 
    transition: color 0.3s ease;
}

h4 {
    color: #01579b; 
    transition: color 0.3s ease;
}

h5 {
    color: #01579b; 
    transition: color 0.3s ease;
}

h6 {
    color: #01579b; 
    transition: color 0.3s ease;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    color: #01579b; 
}

a {
    color: #01579b;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #8e24aa;
}

/* Carrusel */
.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 0.1rem;
    padding: 1rem;
}

.carousel-item {
    flex: 0 0 auto;
    scroll-snap-align: center;
    width: 30%;
}

.carousel-item img {
    width: 100%;
    border-radius: 10%;
}

/* Responsive*/
/*Carrusel*/
@media (max-width: 768px) {
    .carousel-item {
        width: 45%; /* Reducir el tamaño de las imágenes en pantallas más pequeñas */
    }
}

/*Productos*/
.productos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.producto {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
}

@media (max-width: 480px) {
    .carousel-item {
        width: 80%; /* Las imágenes ocupan más espacio en pantallas aún más pequeñas */
    }
    .carousel {
        gap: 0.25rem; /* Reducir aún más el espacio entre imágenes */
    }
}